.container {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about {
    justify-content: center;
    text-align: center;
}

.education-skills {
    justify-content: center;
    text-align: center;
}

.projects {
    justify-content: center;
    text-align: center;
}

.contact {
    justify-content: center;
    text-align: center;
}

.footer {
    text-align: end;
}

.steve {
    border-radius: 15px;
}

.education-item {
    text-align: left;
}

.skills-item {
    text-align: left;
}

.card {
    margin-top: 15px;
}